// Custom styles.
// https://ss1.bdstatic.com/kvoZeXSm1A5BphGlnYG/skin_zoom/881.jpg?2

// https://ss1.bdstatic.com/kvoZeXSm1A5BphGlnYG/skin_zoom/881.jpg

// /images/website_background.jpg

body {
    background:url(https://picture.cqzhong.cn/website_background.png);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
    -moz-user-select: none;
}
